header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

h1 {
    font-size: 50px;
}

.destination-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.departure-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.arrival-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.search-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.destination-btn, .departure-btn, .arrival-btn, .search-btn {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}