header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

h1 {
    font-size: 50px;
}

.destination-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.departure-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.arrival-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}

.search-btn {
    font-size: x-large;
    border-radius: 50px;
    box-shadow: 3px 3px;
}